<!-- Hero -->
<div class="expanded row hero" id="team-slider" style="background-image: url('{{ hero_bg.url }}');">
  <div class="filter"></div>
  <div class="row">
    <div class="small-12 large-8 large-offset-2 columns hero-text">
      <h1>{{ hero_heading }}</h1>
      <span>{{ hero_body | raw }}</span>
    </div>
  </div>
</div>
<!-- intro -->

<!-- Team -->
<div class="row small-up-1 medium-up-2 large-up-3 team-members">
    {% for member in team_members %}
        <div class="column">
            {{ member | raw }}
        </div>
    {% endfor %}
</div>
