#archives {
  margin-bottom: 2rem;

  li {
    text-align: right;
    clear: both;
    a {
      padding-left: 0;
      padding-right: 0;
      float: left;
      &::before {
        content: "\f105";
        font-family: "FontAwesome";
        padding-right: 0.5rem;
      }
    }
  }
}


.taxonomy-overview {
    
    margin-bottom: rem-calc(30px);
    
    .slick {
        margin-bottom: rem-calc(30);
    }
    
    img {
        background-color: $white;
        border: 1px solid #fcdedc;
        padding: 6px;   
    }
    
    .description {
        margin-bottom: rem-calc(30px);  
        padding: rem-calc(0 10); 
        
        p {
            font-size: rem-calc(18);   
        }
    }
}