/* Events Calander Styles */
#tribe_events_filters_wrapper.tribe-events-filters-horizontal,
.tribe-events-filters-horizontal .tribe-events-filters-content {
  background: #f8f3e7;
  border: none;
}

.tribe-events-notices {
  background: #a9544d;
  border-color: #a9544d;
  text-shadow: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.single-tribe_events .content {
  padding-top: 35px;
}

.single-tribe_events .tribe-events-content {
  padding-top: 35px;
}

.single-tribe_events .tribe-events-event-image {
  display: inline;
  float: left;
  width: 50%;
  padding: 0 20px 20px 0;
  margin: 0;
}

.single-tribe_events .tribe-events-cal-links {
  clear: none;

}

.tribe-events-cal-links a.tribe-events-button{
  margin: 0px 6px 10px 0;
}

.tribe-events-single-event-description .event-date-content {
  font-size: 2em;
  display: inline-block;
}

.tribe-events-single-event-description #content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tribe-events-meta-group .tribe-events-single-section-title {
  font-size: 2.4em;
}

/* Calendr Page */
.tribe-events-filter-view .tribe-events-page-title {
  font-size: 3em;
}

.tribe-filters-closed #tribe_events_filters_wrapper.tribe-events-filters-horizontal {}

#tribe_events_filters_wrapper h3.tribe-events-filters-group-heading {
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  padding: 0 5px 0 15px;
}

@media only screen and (max-width: 768px) {
   .tribe-events-filter-view.tribe-filters-closed #tribe_events_filters_wrapper.tribe-events-filters-horizontal {
      height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .tribe-events-list .tribe-events-event-image img {
    width: 100%;
    max-height: 600px;
  }
}
