/* Gravity Forms */
#overlay {
	background: #000;
	background: rgba(0, 0, 0, 0.3);
	display: block;
	float: left;
	height: 100%;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	z-index: 99;
}

#gform-notification {
	background: #fff;
	border-radius: 10px;
	display: block;
	margin: auto;
	max-height: 600px;
	max-width: 520px;
	padding: 30px;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	text-align: center;
	width: 100%;
	z-index: 101;
}

#gform-notification .gform_body {
  display: inline-block;
}

#gform-notification .gform_footer.top_label {
  display: inline;
}
#gform-notification .top-bar-right {
  width: 100%;
}

#gform-notification .menu.social-links {
  margin: 0 auto;
  display: inline;
}

#gform-notification .menu.social-links a {
  padding: 10px 5px;
}

#gform-notification .donation-btn {
  background-color: #F15B24;
  color: #fff;
  padding: 8px 12px;
  font-family: "Amatic SC", cursive;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

#gform-notification .button {
	margin: 20px 0 0;
	padding: 12px 24px;
}
