#home-slider {
  position: relative;
  height: 245px;
  background-size: cover;
  background-position: right 30%;
  background-repeat: no-repeat;

  .hero-text {
    // padding-top: 8%;
    margin: auto;
    text-align: center;

    h1 {
      color: #fff;
      font-size: 3em;
      line-height: 1.2;
    }

    span {
      font-size: .9em;
      color: #fff;
      font-weight: bold;
    }
  }

  &::after {
    content: " ";
    display: block;
    width: 100%;
    height: 57px;
    background-image: url("../images/border-splash.png");
    position: absolute;
    bottom: 0;
  }

  @include breakpoint(large) {
    height: 450px;

    .hero-text {
      h1 {
        font-size: 7.5em;
      }

      span {
        font-size: 1.5em;
      }
    }

  }
}

.home #content .row.teasers div:nth-child(2n+1) {
  @include breakpoint(medium only) {
    clear: both;
  }
}

#home-content {
  margin-bottom: rem-calc(30px);
  h1 {
    color: $primary-3;
  }
  p:last-of-type {
    margin: 0;
  }
}
