/* Events Calander Styles */
#tribe_events_filters_wrapper.tribe-events-filters-horizontal,
.tribe-events-filters-horizontal .tribe-events-filters-content {
  background: #f8f3e7;
  border: none;
}

.tribe-events-notices {
  background: #a9544d;
  border-color: #a9544d;
  text-shadow: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.single-tribe_events #content {
  padding-top: 35px;
}

.single-tribe_events #content p {
  font-size: 18px;
}

.single-tribe_events .tribe-events-content {
  padding-top: 35px;
}

.single-tribe_events .tribe-events-event-image {
  display: inline;
  float: left;
  width: 50%;
  padding: 0 20px 20px 0;
  margin: 0;
}

.single-tribe_events .tribe-events-cal-links {
  clear: none;
}

.single-tribe_events #tribe-events .tribe-events-cal-links .tribe-events-button {
  background-color: #dddddd;
  color: #444444;
}

.single-tribe_events #tribe-events .tribe-events-cal-links .tribe-events-button:hover {
  background-color: #666;
  color: #ddd;
}

.tribe-events-cal-links a.tribe-events-button{
  margin: 0px 6px 10px 0;
}

.tribe-events-single-event-description .event-date-content {
  font-size: 2em;
  display: inline-block;
}

.tribe-events-single-event-description #content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tribe-events-meta-group .tribe-events-single-section-title {
  font-size: 2.4em;
}

.single-tribe_events .tribe-events-event-meta {
  font-size: 15px;
}

/* Calendr Page */
.tribe-events-filter-view .tribe-events-page-title {
  font-size: 3em;
}

.tribe-filters-closed #tribe_events_filters_wrapper.tribe-events-filters-horizontal {}

#tribe_events_filters_wrapper h3.tribe-events-filters-group-heading {
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  padding: 0 5px 0 15px;
}

@media only screen and (max-width: 768px) {
   .tribe-events-filter-view.tribe-filters-closed #tribe_events_filters_wrapper.tribe-events-filters-horizontal {
      height: auto;
  }
  .admin-bar.tribe-mobile.tribe-filters-open #tribe_events_filters_wrapper.tribe-events-filters-horizontal{
    margin-top: 45px;
  }
  .tribe-filters-open .tribe_events_filter_item.closed {
    padding-top: 25px;
  }
  .tribe-filters-open #tribe_events_filters_wrapper h3.tribe-events-filters-group-heading {
    font-size: 1.15em;
  }
}

@media only screen and (max-width: 600px) {
  .tribe-events-list .tribe-events-event-image img {
    width: 100%;
    max-height: 600px;
  }
}

/* Gravity Forms */
#overlay {
	background: #000;
	background: rgba(0, 0, 0, 0.3);
	display: block;
	float: left;
	height: 100%;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	z-index: 99;
}

#gform-notification {
	background: #fff;
	border-radius: 10px;
	display: block;
	margin: auto;
	max-height: 350px;
	max-width: 520px;
	padding: 30px;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	text-align: center;
	width: 100%;
	z-index: 101;
}

#gform-notification.profile-update-notification {
  max-height: 175px;;
}

#gform-notification .gform_body {
  display: inline-block;
}

#gform-notification .gform_footer.top_label {
  display: inline;
}
#gform-notification .top-bar-right {
  width: 100%;
}

#gform-notification .menu.social-links {
  margin: 0 auto;
  display: inline;
}

#gform-notification .menu.social-links a {
  padding: 10px 5px;
}

#gform-notification .donation-btn {
  background-color: #F15B24;
  color: #fff;
  padding: 8px 12px;
  font-family: "Amatic SC", cursive;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

#gform-notification .button {
	margin: 20px 0 0;
	padding: 12px 24px;
}

@media only screen and (max-width: 640px) {
  #gform-notification .gform_body {
    width: 100%;
    margin-bottom: 10px;
  }

  #gform-notification #gform_wrapper_1 #gform_1 .button {
    margin-left: 4px;
  }
}

/* Home user profile page */

.home-user-profile {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.home-user-profile .avatar.avatar-150 {
  border-radius: 100%;
}

.home-user-profile #user_meta-social i {
  color: #fff;
}

.home-user-profile #user_meta-social i.fa-circle {
  color: #f15a26;
}

.home-user-profile #user_meta-bio-teaser {
  margin-top: 25px;
}
